!*/
!/*.py
!/*.conf
!doc/**/*
!LICENSE
!MANIFEST.in
!.gitignore
!/systemd/*.service
!/bin/install_service
!README.org
!.git*
!sarad/*.py
!sarad/*.yaml
!/*.org
__pycache__/
__pypackages__/
doc/build/*
src/sarad/*.pyo
src/sarad/__pycache__/