[Unit]
Description=Data Collector
Wants=network-online.target

[Service]
WorkingDirectory=/etc/datacollector
ExecStart=/usr/local/bin/datacollector last_session
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
